$color: #262828;
$description-highlight-color: #123456;
$print-pdf-color: rgb(0, 188, 212);

body {
  color: $color;
}

.description-container{
    height: 500px;
    position: relative;
}

.rth-container {
    display: inline-block;
    position: relative;
    overflow: hidden !important;
    -webkit-text-size-adjust: none !important;
    background: white;
  }
  
  .rth-backdrop {
    position: absolute !important;
    top: 0 !important;
    right: -99px !important;
    bottom: 0 !important;
    left: 0 !important;
    padding-right: 99px !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
  }
  
  .rth-highlights {
    width: auto !important;
    height: auto !important;
    border-color: transparent !important;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    color: transparent !important;
    overflow: hidden !important;
  }
  
  .rth-input {
    display: block !important;
    position: relative !important;
    margin: 0;
    padding: 0;
    border-radius: 0;
    font: inherit;
    overflow-x: hidden !important;
    overflow-y: auto !important;
  }
  
  .rth-content {
    border: 1px solid;
    background: none transparent !important;
    width: 80% !important;
  }
  
  .rth-content mark {
    color: inherit;
  }







.mainBody{

  height: 80vh;
  $main-tab-margin: 2%;
  $cover-letter-border-width: 1px;
  $main-tab-width: calc( (100% - #{ 4 * $main-tab-margin } - #{ 2 * $cover-letter-border-width } )/2 );

  .input-controls{
    width: $main-tab-width;
    display: inline-block;
    margin: $main-tab-margin;

    .input-tab{
      height: 100%;
    }
  }

  .output-controls{
    width: $main-tab-width;
    display: inline-block;
    margin: $main-tab-margin;

    vertical-align: top;
    height: 100%;

    #coverLetter{
      height: calc( #{$main-tab-width} * 1.4142);
      border-style: solid !important;
      border: black;
      border-width: $cover-letter-border-width;
    }  

    .print-pdf-button{
        background-color: $print-pdf-color !important;
    }
  }
}

































