$color: #d62525;
$description-highlight-color: #123456;
$standard-button-color: rgb(0, 188, 212);

$text-opacity: 0.3;

$cover-letter-header-color: white;
$cover-letter-header-font-family: Arial;

$cover-letter-header-name-font-size: 24px;
$cover-letter-header-top-radius: 10px;

.descirption-label{
    opacity: $text-opacity;
}

.description-container{
    $description-height: 200px;
    $textarea-border: 1px;

    height: $description-height;
    position: relative;
    overflow-y: hidden !important;
    overflow-x: hidden !important;

    label{

    }

    textarea{
        height: $description-height;
        border-color: lightgray !important;
        resize: none !important;
    }

    .rth-container {
        display: inline-block;
        position: relative;
        overflow: hidden !important;
        -webkit-text-size-adjust: none !important;
        background: white;
       
      }
      
      .rth-backdrop {
        position: absolute !important;
        bottom: 0 !important;
        width: 100% !important;
        left: 0 !important;
        overflow-x: hidden !important;
      }
      
      .rth-highlights {
        width: auto !important;
        height: auto !important;
        border-color: transparent !important;
        white-space: pre-wrap !important;
        word-wrap: break-word !important;
        color: transparent !important;
        overflow: hidden !important;
      }
      
      .rth-input {
        display: block !important;
        position: relative !important;
        margin: 0;
        padding: 0;
        border-radius: 0;
        font: inherit;
        overflow-x: hidden !important;
        overflow-y: auto !important;
      }
      
      .rth-content {
        border: $textarea-border solid;
        background: none transparent !important;
        width: calc(100% - #{2 * $textarea-border})!important;
      }
      
      .rth-content mark {
        color: inherit;
      }
}


.draggable-sentence-container{
    display: inline-flex !important;
    margin: 4px !important;
    width:30% !important;

    .draggable-sentence-chip{
        width: 100% !important;

        span{
            overflow: hidden !important;
            text-overflow: ellipsis !important;
            width: 80% !important;
        }
    }
}

.string-array-editor{
    width:80% !important;
}

.mainBody{

    height: 80vh;
    $main-tab-margin: 2%;
    $cover-letter-border-width: 1px;
    $main-tab-width: calc( (100% - #{ 4 * $main-tab-margin } - #{ 2 * $cover-letter-border-width } )/2 );

    .input-controls{
        width: $main-tab-width;
        display: inline-block;
        margin: $main-tab-margin;

        .input-tab{
            height: 100%;

            .job-posting-tab{
                padding: 8px;
            }
        }

    /***************Keyword Tab******************************/
    .keywords-tab{
        .keywords-selector{
            .keywords-dropdown{
                width: 50% !important;
            }
    
            .keywords-delete-button{
                button{
                    background-color: $standard-button-color !important;
                }
            }
        }
    }
}

.output-controls{
    width: $main-tab-width;
    display: inline-block;
    margin: $main-tab-margin;

    vertical-align: top;
    height: 100%;
    
    
    #cover-letter{
        
        /* TODO: The jsPDF libaray I was  doesn't work well with CSS */
        height: calc( #{$main-tab-width} * 1.4142);
        border-style: solid !important;
        border: black;
        border-width: $cover-letter-border-width;

        #cover-letter-header-container{
            margin: 10px;
            border-top-right-radius: $cover-letter-header-top-radius;
            border-top-left-radius: $cover-letter-header-top-radius;
            background-image:repeating-linear-gradient(45deg, #000000, #000 0.5px, #999 2px, #000 2px, #000 7px, #111112 1px);
        }

        #cover-letter-header-name-container{
            height: $cover-letter-header-name-font-size - 2px;
            border-bottom: 5px solid $cover-letter-header-color;

            #cover-letter-header-name{
                font-size: $cover-letter-header-name-font-size;
                font-family: $cover-letter-header-font-family;
                color: $cover-letter-header-color;
                text-transform: uppercase;
                text-align: center;
                margin: 10px 10px 0px;
            }
        }

        #cover-letter-header-contact-container{
            .cover-letter-contact-list{
                color: $cover-letter-header-color;
                margin: 0px;

                li{
                    display:inline-block;
                    font-size: 14px;
                    font-family: $cover-letter-header-font-family;
                    font-weight: bolder;
                }

                li:before {
                    content: '\00a0\2022\00a0\00a0';
                    color: $cover-letter-header-color;
                    color: $cover-letter-header-color;
                    font-size:11px;
                    font-weight: bold;
                }

                li:first-child:before {
                    content: '';
                }
            }
        }
       
    } 



    .print-pdf-button{
        background-color: $standard-button-color !important;
    }
  }
}

































