{
  "presets": [
    "flow",
    ["es2015"],
    "stage-2",
    "react",
    "react-boilerplate"
  ],

  "plugins": [
    ["module-resolver", {
      "root": ["./app"],
      "alias": {
        "components": "./app/components",
        "postingOperations": "./app/state/ducks/posting/"
      }
    }],
    "react-hot-loader/babel"
  ]
}